[submodule "Unity/HelioGame2018/Assets/Chess"]
	path = Unity/HelioGame2018/Assets/Chess
	url = https://github.com/anthonyromrell/Chess.git
[submodule "Unity/HelioGAme2018/Assets/Scripts/EventsAndUserInteractions"]
	path = Unity/HelioGAme2018/Assets/Scripts/EventsAndUserInteractions
	url = https://github.com/anthonyromrell/EventsAndUserInteractions.git
[submodule "attackofthegiantcyborgshrimp"]
	path = attackofthegiantcyborgshrimp
	url = https://anthonyromrell@bitbucket.org/anthonyromrell/attackofthegiantcyborgshrimp.git